body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
    font-family: sans-serif;
}
h1{
    font-size: 4rem;
}
main{
    width: 90%;
    margin: 5% auto 0 auto;
    .project{
        margin: 10% 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
    }
    .project__post{
        overflow: hidden;
        height: 30vw;
        display: block;
    }
}
.bloc{
    height: 100vh;
    display: flex;
    .bloc__img, .bloc__txt{
        height: 100%;
        width: 50%;
    }
    .bloc__txt{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.back-home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}