<%- include('../components/head.ejs', {title : "Erreur 404" }); %>
    
    <div class="back-home">
        <h1>Erreur 404</h1>
        <a href="/">Retour Accueil</a>
    </div>

<%- include('../components/footer.ejs'); %>